body {
  background-color: #f4f4f9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-family: Impact, Impact;
  color: #333;
  font-size: 80px;
  font-weight: bold;
}

.quote-box {
  margin: 20px 0;
}

#quote {
  font-size: 1.5rem;
  color: #555;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}
